@font-face {
  font-family: "fontc9f309b3d47969ecac64a77a6c672594";

  src: url("https://nomail.com.ua/files/eot/c9f309b3d47969ecac64a77a6c672594.eot?#iefix")
      format("embedded-opentype"),
    url("https://nomail.com.ua/files/woff/c9f309b3d47969ecac64a77a6c672594.woff")
      format("woff"),
    url("https://nomail.com.ua/files/woff2/c9f309b3d47969ecac64a77a6c672594.woff2")
      format("woff2");
}

@font-face {
  font-family: "NexaBold";
  src: local("NexaBold"),
    url("https://nomail.com.ua/files/woff/c9f309b3d47969ecac64a77a6c672594.woff")
      format("woff");
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(img/bgk.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.head {
  height: 65px;
  width: 100%;
  background: #373737;
  display: flex;
}

.logo-top {
  width: 81px;
  height: 65px;
  background: #f26c4f;
  position: relative;
  left: 299px;
  cursor: pointer;
}

.logo-top::before {
  content: "";
  width: 20px;
  height: 20px;
  background: #f26c4f;
  position: absolute;
  left: 70px;
  top: 19px;
  transform: rotate(45deg);
}

#logo {
  font-family: "NexaBold";
  font-size: 35px;
  color: #ffffff;
  text-align: center;
}

#name {
  position: relative;
  left: 110px;
  top: -24px;
  color: #ffffff;
  font-size: 20px;
}

.top-menu {
  height: 65px;
  width: 100%;
  background: #474747;
}

.top-menu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
}

.top-menu a:hover {
  padding-bottom: 22px;
  color: #f26c4f;
  border-bottom: 3px solid #f26c4f;
}

.top-menu ul {
  list-style: none;
  display: flex;
  padding-top: 22px;
  margin-left: 324px;
}

.top-menu li {
  list-style: none;
  margin-right: 30px;
  border-right: 1px solid #767676;
  padding-right: 20px;
}

.top-menu li:last-child {
  border: none;
}
